.searchPage__loge {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
  z-index: 100;
}

.searchPage__header {
  position: sticky;
  top: 0;
  display: flex;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.searchPage > .searchPage__header .search .search__input {
  width: unset;
  margin: unset;
  margin-top: 0;
  max-width: unset;
}

.searchPage__options {
  display: flex;
  justify-content: space-between;
  color: grey;
}

.searchPage__optionLeft a,
.searchPage__optionRight a {
  text-decoration: none;
  color: grey;
  font-size: 13px;
}
.searchPage__optionLeft,
.searchPage__optionRight {
  display: flex;
}

.searchPage__optionRight{
  margin-left: 30px;
}

.searchPage__option{
  display: flex;
  align-items: center;
  margin-right: 20px;
}
